.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  &-image{
    padding-left: 15px;
  }

  &-menu{
    padding-right: 15px;
    display: flex;
    align-items: center;
  }
}
